<div class="minha-class">
    <slot/>
</div>

<style>
    minha-class {
        background-color: blue;
        margin-top: 1rem;
        line-height: 1.75;
        text-align: justify;    
        }
        slot {
            color: white;
        }
</style>